
######## ALIASES ##########

alias cls='clear' 
alias ls='eza --icons --color=always'
alias la='eza -a --icons --color=always'
alias ll='eza -la --icons --color=always --git -l'
alias t='eza --tree --all --level=2'     # Tree view including hidden files
alias td='eza --tree --only-dirs --level=2'  # Directory-only tree view
alias ta='eza --tree --all --level=100'   # Level=0 unlimited depth

# Show all alias names
alias aliases='alias | awk -F"=" "{print \$1}"'

# Show all functions
alias functions='functions | grep "^my" | awk "{print \$1}"'

# Symlink
alias lf='ln -sf'

# Git aliases
alias lg='lazygit'
alias gs='git status'
alias gss='git submodule status'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gp='git push'
alias gpl='git pull'
alias gplr='git pull --rebase'
alias gl='git log --oneline --graph --decorate'
alias gb='git branch'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gstash='git stash'
alias gpop='git stash pop'
alias gundo='git reset --soft HEAD~1'   # Undo last commit, keep changes
alias gi='git status --ignored'
alias gr='git reset'


